<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Heaven Book"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaoCao1"
        tools:targetApi="31">
        <activity
            android:name=".View.SlashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.LoginActivity">
        </activity>
        <activity android:name=".View.RatingActivity">
        </activity>
        <activity android:name=".View.RegisterActivity">
        </activity>
        <activity android:name=".View.HomeActivity">
        </activity>
        <activity android:name=".View.ForgotPassActivity">
        </activity>
        <activity android:name=".View.NotificationActivity">
        </activity>
        <activity android:name=".View.DetailsHotBookActivity">
        </activity>
        <activity android:name=".View.AuthorActivity">
        </activity>
        <activity android:name=".View.ShoppingCartActivity">
        </activity>
        <activity android:name=".View.UserAccountActivity">
        </activity>
        <activity android:name=".View.PaymentActivity">
        </activity>
        <activity android:name=".View.ClassifyBookActivity">
        </activity>
        <activity android:name=".View.AuthorsBookActivity">
        </activity>
        <activity android:name=".View.UpdateUserInfoActivity">
        </activity>
        <activity android:name=".View.OrderHistoryActivity">
        </activity>
        <activity android:name=".View.BuyHistoryActivity">
        </activity>
        <activity android:name=".ViewAdmin.AdminActivity">
        </activity>
        <activity android:name=".ViewAdmin.AdminOrderListActivity">
        </activity>
        <activity android:name=".ViewAdmin.AdminRevenueListActivity">
        </activity>
        <activity android:name=".ViewAdmin.AdminCustomerListActivity">
        </activity>
        <activity android:name=".ViewAdmin.AdminProductListActivity">
        </activity>
        <activity android:name=".ViewAdmin.AddProductActivity">
        </activity>
        <activity android:name=".ViewAdmin.UpdateInfoProductActivity">
        </activity>
        <activity android:name=".View.InfoProductsActivity">
        </activity>
        <activity android:name=".ViewAdmin.AdminDetailsAccountActivity">
        </activity>
        <activity android:name=".ViewAdmin.AdminCustomerOrderListActivity">
        </activity>
    </application>

</manifest>